.square {
    margin: 30px;
    display: grid;
    grid-template-columns: minmax(300px, 70%);
    justify-items: center;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
}

img { 
    width: 300px; 
    height: 300px; 
    object-fit: contain; 
    border: 5px solid #555;
} 

.editDetails {
    display: none;
}